# Environment variables for user_service
PORT=8085
DB_URL=jdbc:mysql://localhost:3306/db_user_service?useSSL=false&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://localhost:8761/eureka/
JWT_SECRET_KEY=nlu_echo_by_phuc_lam_2004_this_is_be_for_applicati
GOOGLE_CLIENT_ID=714586252342-f47e1oar4i153si4gp61i15v7lg625ft.apps.googleusercontent.com
MAIL_EMAIL=tailam164@gmail.com
MAIL_PASSWORD=xxslfhfwvnkiiscn

# Services integration URLs
USER_SERVICE_URL=http://localhost:8085
FRONTEND_URL=http://localhost:3000
API_GATEWAY_URL=http://localhost:8080

# Database Pooling & JPA Properties
DB_MAX_POOL_SIZE=5
DB_MIN_IDLE=0
DB_CONNECTION_TIMEOUT=30000
DB_IDLE_TIMEOUT=600000
DB_MAX_LIFETIME=1800000
DDL_AUTO=none

# Eureka Configuration
EUREKA_ENABLED=true
EUREKA_DEFAULT_ZONE=http://localhost:8761/eureka/


