# Environment variables for ai_service
PORT=8088
DB_URL=jdbc:mysql://localhost:3306/db_matching_service?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://localhost:8761/eureka/
RECOMMENDER_SERVICE_URL=http://localhost:8000

# Database Pooling & JPA Properties
DB_MAX_POOL_SIZE=5
DB_MIN_IDLE=0
DB_CONNECTION_TIMEOUT=30000
DB_IDLE_TIMEOUT=600000
DB_MAX_LIFETIME=1800000
DDL_AUTO=none

# Eureka Configuration
EUREKA_ENABLED=true
EUREKA_DEFAULT_ZONE=http://localhost:8761/eureka/


